<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Account Created</title>
</head>
<body>
    <h3>Account has been created!</h3>
    <br>
    <p>Hello <strong><%= username %></strong>,</p>
    <p>Your account has been created successfully! You can now log in using your email and password.</p>
    <a href="https://kbjfree.tv/login" target="_blank">https://kbjfree.tv/login</a>
    <p>Thank you for joining!</p>
    <br>
    <br>
    <p>Best regards,</p>
    <p>kbjfree</p>
</body>
</html>
